section.section.team.bg-white
    .container
        .row
            .col-md-6.mb-4
                .card.text-center
                    .card-header
                        .team-photo
                            img.img-thumbnail(src="img/team/mark-donaldson.jpg", alt="Mark Donaldson - CEO")
                        .team-mate
                            .team-mate-name
                                h3.card-title Mark Donaldson
                                h4.card-subtitle CEO
                            a.team-mate-link(href="https://www.linkedin.com/in/medonaldson")
                                i.fa.fa-linkedin
                    .card-body

                        p.card-text Mark has been working with SMEs for over 16
                            |  years. He qualified as a Chartered Accountant
                            | in practice, before leaving Grant Thornton in
                            | 2009 to set up his own FD consultancy.

                        p.card-text Mark has been the FD of a manufacturing
                            |  business for 15 years, CFO in biotech and
                            | healthcare, life sciences and led a number
                            | of bespoke Business Intelligence
                            | implementation projects.
            .col-md-6.mb-4
                .card.text-center
                    .card-header
                        .team-photo
                            img.img-thumbnail(src="img/team/JamesCarter.jpg", alt="James Carter - CTO")
                        .team-mate
                            .team-mate-name
                                h3.card-title James Carter
                                h4.card-subtitle CTO
                            a.team-mate-link(href="https://www.linkedin.com/in/james-carter-44a49b29")
                                i.fa.fa-linkedin
                    .card-body
                        p.card-text James has been helping companies large
                            |  and small make sense of their data for
                            | the last 9 years.

                        p.card-text Previously at Capita, James brings a wealth
                            |  of technical know-how and project
                            | management experience to the
                            | Cascade50 team.
            .col-md-6.mb-4
                .card.text-center
                    .card-header
                        .team-photo
                            img.img-thumbnail(src="img/team/HowardHackney.jpg", alt="Howard Hackney - Chairman of Advisors")
                        .team-mate
                            .team-mate-name
                                h3.card-title Howard Hackney
                                h4.card-subtitle Chairman of Advisors
                            a.team-mate-link(href="https://www.linkedin.com/in/howard-hackney-9301b814")
                                i.fa.fa-linkedin
                    .card-body
                        p.card-text Howard has been advising SMEs and Family
                            |  businesses for over 35 years. He was a Partner
                            | at Grant Thornton for over 25 years, before
                            | setting up his own advisory only
                            | boutique practice.

                        p.card-text Howard was North West Regional Marketing
                            |  partner for 10 years and Head of family
                            | business nationally. He was winner of the
                            | CBI best business adviser of
                            | the year 2002 award.
            .col-md-6.mb-4
                .card.text-center
                    .card-header
                        .team-photo
                            img.img-thumbnail(src="img/team/AlanPhillips.jpg", alt="Alan Philips - Advisor")
                        .team-mate
                            .team-mate-name
                                h3.card-title Alan Philips
                                h4.card-subtitle Advisor
                            a.team-mate-link(href="https://www.linkedin.com/in/alanphillips2")
                                i.fa.fa-linkedin
                    .card-body
                        p.card-text Alan has been running IT companies since
                            |  2001. His first venture was 7Safe Ltd, which
                            | won  the ‘Cambridge Evening news Small
                            | Business of the Year’ award in 2007.  As
                            | founder and CEO, Alan led the exit to PA
                            | Consulting Group in 2012.
                        p.card-text
                            | Since then, Alan has been involved with
                            | several ventures including a news and
                            | information website for the corporate bond
                            | market, performance marketing
                            | and mobile app development.

