.team {
    @include media-breakpoint-down(lg) {
        .card-header {
            padding: 2rem;
        }
        .team-photo {
            img {
                width: 100%;
            }
        }
    }
    .card {
        height: 100%;
        margin-bottom: 2rem;
        .img-thumbnail {
            padding: 0;
            border-radius: 0;
        }
        &-header {
            padding: 2.5rem 5.625rem;
            border-bottom: 0;
        }
        &-body {
            padding: 0 1rem 2rem;
        }
        &-title {
            font-family: "Arimo", sans-serif;
        }
    }
    &-photo {
        margin-bottom: 2rem;
        img {
            //max-width: 33.125rem;
            //max-height: 400px;
        }
    }
    &-mate {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        &-name {
            text-align: center;
            width: 100%;
            font-family: "Arimo", sans-serif;
        }
        &-link {
            display: block;
            width: 3.125rem;
            height: 3.125rem;
            margin: auto;
            color: $white;
            background: $lilac-bg;
            .fa {
                margin: auto;
                font-size: 2rem;
                text-align: center;
                line-height: 3.125rem;
            }
        }
    }
}
