section.section.diffs.pt-5
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Why We're Different
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/plug.png", alt="#")
                    .card-body
                        h3.card-title Plug n Play
                        p.card-text Instantly connect to an extensive library of vibrant pre-made dashboards.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/instant.png", alt="#")
                    .card-body
                        h3.card-title Instant Access
                        p.card-text Cloud access to your data from across the globe.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/fast.png", alt="#")
                    .card-body
                        h3.card-title Fast & Reliable
                        p.card-text A quick and powerful platform.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/low.png", alt="#")
                    .card-body
                        h3.card-title Low Cost
                        p.card-text The price of a mobile phone contract for your entire company.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/custom.png", alt="#")
                    .card-body
                        h3.card-title Customisable
                        p.card-text A custom dashboard service tailored to each business.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/diffs/simple.png", alt="#")
                    .card-body
                        h3.card-title Simple
                        p.card-text No training required. A platform designed for everyone.

        p.text-center
            a.btn.btn-danger.mr-md-3(href='#', role='button') Small & Medium Businesses
                i.arr-right
            a.btn.btn-primary(href='#', role='button') Accountancy Practies
                i.arr-right

