//differents section
section.section.diffs.bg-white
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Why We're Different
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-warning(src="img/sprites/svg/plug.svg", alt="#")
                    .card-body
                        h3.card-title Plug n Play
                        p.card-text Instantly connect to an extensive library of vibrant pre-made dashboards.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-primary(src="img/sprites/svg/globe-blue.svg", alt="#")
                    .card-body
                        h3.card-title Instant Access
                        p.card-text Cloud access to your data from across the globe.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-danger(src="img/sprites/svg/tachometr.svg", alt="#")
                    .card-body
                        h3.card-title Fast & Reliable
                        p.card-text A quick and powerful platform.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-success(src="img/sprites/svg/banknote2.svg", alt="#")
                    .card-body
                        h3.card-title Low Cost
                        p.card-text The price of a mobile phone contract for your entire company.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-pink(src="img/sprites/svg/edit-purple.svg", alt="#")
                    .card-body
                        h3.card-title Customisable
                        p.card-text A custom dashboard service tailored to each business.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-primary(src="img/sprites/svg/cubes.svg", alt="#")
                    .card-body
                        h3.card-title Simple
                        p.card-text No training required. A platform designed for everyone.

        p.text-center
            a.btn.btn-danger.mr-md-3(href='smes.html', role='button') Small & Medium Businesses
                i.arr-right
            a.btn.btn-primary(href='practices.html', role='button') Accountancy Practices
                i.arr-right
//end of differents section
