section.section.case-hero.bg-light-2
    .container
        .row
            .col-md-6
                .jumbotron.px-0
                    img.case-hero-logo(src="img/innova/innova-lg.png", alt="#")
                    p.lead
                        | Innova Art utilises Cascade50’s
                        | insightful and accessible dashboards
                        | to maximise the efficiency of their
                        | sales teams across the globe.
                    p
                        a.btn.btn-danger(href='#', role='button') Innova Art's Website
                            i.arr-right

            .col-md-6
                img.img-fluid(src="img/innova/innova-01.jpg", alt="#")
