
.header {
    .navbar {
        justify-content: space-between;
        
        &-logo {
            max-width: 218px;
        }
    }
    &-nav {
        justify-content: center;
    }
    @include media-breakpoint-up(ld){
        .navbar-expand-lg {
            height: $header-height;
            .navbar-nav .nav-link {
                padding: 0  2.0625rem;
            }
        }
       
    }
}
