
.header {
    .navbar {
        justify-content: space-between;
    }
    &-nav {
        justify-content: center;
    }
    @include media-breakpoint-up(ld){
        .navbar-expand-lg {
            height: $header-height;
            .navbar-nav .nav-link {
                padding: 0  2.0625rem;
            }
        }
       
    }
    .login-nav {
        .nav-item + .nav-item {
            border-left: 1px solid $border-color;
        }
    }
}
