header.header.px-0
    .container-fluid.px-0
        nav.navbar.navbar-expand-lg.navbar-dark.bg-lilac.fixed-top.py-lg-5
            a.navbar-brand.mb-0(href='index.html')
                img.navbar-logo(src="img/sprites/svg/logo-white.svg" alt="Cascade50 - logo")
                span.sr-only Cascade50
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
                i.fa.fa-bars(aria-hidden='true')
            #headerNav.header-nav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='index.html') Home
                    li.nav-item
                        a.nav-link(href='smes.html') SMEs
                    li.nav-item
                        a.nav-link(href='practices.html') Accountancy Practices
                    li.nav-item
                        a.nav-link(href='studies.html') Case Studies
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') About
                        .dropdown-menu
                            a.dropdown-item(href='our-history.html') Our History
                            a.dropdown-item(href='meet-the-board.html') Meet The Team
                    li.nav-item
                        a.nav-link(href='get-in-touch.html') Contact Us

                ul.navbar-nav.login-nav
                    li.nav-item
                        a.nav-link(href='https://app.cascade.bi') Login
                    li.nav-item
                        a.nav-link(href='https://app.cascade.bi/signup') Sign Up
