header.header.bg-white.px-0
    .container-fluid.px-0
        nav.navbar.navbar-expand-lg.navbar-light.py-md-5
            a.navbar-brand.mb-0(href='#')
                img.navbar-logo(src="img/sprites/svg/logo.svg" alt="Cascade50 - logo")
                span.sr-only Cascade50
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #headerNav.header-nav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='smes.html') SMEs
                    li.nav-item
                        a.nav-link(href='practises.html') Accountancy Practices
                    li.nav-item
                        a.nav-link(href='studies.html') Case Studies
                    li.nav-item
                        a.nav-link(href='about.html') About
                    li.nav-item
                        a.nav-link(href='get-in-touch.html') Contact Us

            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#') Login
                li.nav-item
                    a.nav-link(href='#') Sign Up
