header.header.bg-white.px-0
    .container-fluid.px-0
        nav.navbar.navbar-expand-lg.navbar-light.py-md-5
            a.navbar-brand.mb-0(href='/')
                img.navbar-logo(src="img/sprites/svg/logo.svg" alt="Cascade50 - logo")
                span.sr-only Cascade50
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #headerNav.header-nav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Homes
                    li.nav-item
                        a.nav-link(href='smes.html') SMEs
                    li.nav-item
                        a.nav-link(href='practises.html') Accountancy Practices
                    li.nav-item
                        a.nav-link(href='studies.html') Case Studies
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false') About
                        .dropdown-menu
                            a.dropdown-item(href='our-history.html') Our History
                            a.dropdown-item(href='team.html') Meet The Teem

                    li.nav-item
                        a.nav-link(href='get-in-touch.html') Contact Us

            ul.navbar-nav.login-nav
                li.nav-item
                    a.nav-link(href='#') Login
                li.nav-item
                    a.nav-link(href='#') Sign Up
