header.header.bg-white
    .container-fluid
        nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand.mb-0(href='#')
                img.navbar-logo(src="img/general/logo.png" alt="Cascade50 - logo")
                span.sr-only Cascade50
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#headerNav', aria-controls='headerNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #headerNav.header-nav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='#') SMEs
                    li.nav-item
                        a.nav-link(href='#') Accountancy Practices
                    li.nav-item
                        a.nav-link(href='#') Case Studies
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='#') Contact Us

            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#') Login
                li.nav-item
                    a.nav-link(href='#') Sign Up
