//Our journey section
section.section.journey.bg-white
    .container
        .row
            .col-12
                h2.section-title.text-center Our Journey So Far
            .col-12
                img.img-fluid(src="img/general/journey.png", alt="#")
//end of Our journey section
