.section.empower {
    @include media-breakpoint-down(md) {
        text-align: center;
        padding-bottom: 0;
        .card {
            &-body {
                padding: 0;
            }
        }
    }
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1240px;
        }
    }
    .card {
        height: 100%;
        &-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &:hover, &:focus {
            box-shadow: none;
        }
    }
}
