//empower section
section.section.empower.bg-white
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Empower Your Business
        .row.mb-5
            .col-md-6
                img.img-fluid.mb-5(src="img/empower/empower-01.png", alt="#")
            .col-md-6
                .card.border-0.mb-5
                    .card-body
                        h3.card-title Grow Sales
                        p.card-text Help your sales team to understand your
                            |  customers and their purchasing decisions.
                            | Instantly spot trends and find opportunities
                            | to grow the business.
        .row.flex-md-row-reverse.mb-5
            .col-md-6
                img.img-fluid.mb-5(src="img/empower/empower-02.png", alt="#")
            .col-md-6
                .card.border-0.mb-5
                    .card-body
                        h3.card-title Monitor Costs
                        p.card-text Streamline your whole organisation with greater visibility and insight over every purchase you make.
                            |  Better understand your relationships with your
                            | suppliers and get the upper hand on negotiations.
        .row.mb-5
            .col-md-6
                img.img-fluid.mb-5(src="img/empower/empower-03.png", alt="#")
            .col-md-6
                .card.border-0.mb-5
                    .card-body
                        h3.card-title Control Creditors
                        p.card-text Improve your cash flow by easily targeting your problem payers and arming your team
                            |  with all the information they need for those
                            | tricky conversations.
//end of empower section
