section.section.case-descr.bg-white
    .container
        .row
            .col-lg-4
                h2.case-title Crispin Clay
                h4.case-subtitle Managing Director, Munchy Seeds
                .w-50.border-top.pt-1.my-3.bg-dark
            .col-lg-8
                p “Cascade50 has revolutionised the way in which we run our
                    | business on a day to day basis. Extracting information from
                    | Sage 50 was previously both time consuming and restrictive.
                    | Thanks to Cascade’s various dashboards we can instantly
                    | view figures and very informative graphs and visuals."

                p "Our team can now analyse margins, products & customer
                    | sales performance, profitability and much more. I love the
                    | fact that I can use Cascade50 from anywhere in the world.”

        hr.my-md-5

        .row
            .col-12
                p Simply put, Munchy Seeds are tasty toasted seed wholesalers. With plenty of family history
                    | behind the company, founder “Mrs Munchy” Lucinda and husband Crispin have been
                    | producing and selling “munchy seeds” in the UK for the past 19 years.

                p It is a tradition that has been passed down through the family. Lucinda’s parents have
                    | been roasting their Munchy Seeds in New Zealand for over 30 years.

                p With a large range of products and sales, managing all the information from Sage 50 was a
                    | time-consuming exercise, often spending more time creating
                    | the analysis than spending time analysing it.

                p Since Munchy Seeds have connected Cascade50 to their Sage 50 data, the platform has
                    | revolutionised the way in which the company operates on a day to day basis.

                p Cascade50’s plug and play dashboards instantly granted Munchy Seeds greater
                    | visibility over their entire business: from sales to financial and product analysis.

                p The platform has been invaluable in improving the efficiency of the company’s day to day activities.
                    | The Munchy Seeds team are now able to instantly analyse margins, products & customer
                    | sales performance, profitability which was a solution that their traditional
                    | accounts package was unable to do.

                p Cascade50 allows Munchy Seeds to stay in control of the finances and removes the
                    | need to wait for traditional reports from the finance team.
