//hero section
section.section.hero
    .container
        .row.align-content-center
            .col-md-7
                .jumbotron.text-white.px-0
                    h1.hero-title.display-4 Insight for Your Whole Business
                    p.lead
                        | Empower your teams by giving them instant access
                        | to information to make more effective decisions.
                    p
                        a.btn.btn-danger.mr-md-3(href='https://app.cascade.bi/signup/user', role='button') 21 DAY FREE TRIAL
                            i.arr-right
                        a.btn.btn-primary(href='https://pay.gocardless.com/AL00015ERR6CTN', role='button') Buy Now
                            i.arr-right
            .col-md-5
                .hero-img
                    img(src="img/general/hero-img-sme.png", alt="Dashboard")

//end of hero section
