section.case-descr.bg-primary
    .container
        .row.py-5
            .col-12
                p.text-center.text-white Cascade50 transforms your Sage 50 data into Insightful, vibrant, and
                    | easy-to-use dashboards.

                p.text-center.text-white Gain an insightful and vibrant view of the business with an extensive
                    | library of intuitive and easy-to-use dashboards that cover
                    | everything from sales to finance and purchasing.

                p.text-center
                    a.btn.btn-danger.mr-md-3(href='#', role='button') 21 day free trial
                        i.arr-right

                    a.btn.btn-danger(href='#', role='button') Buy now
                        i.arr-right
