section.section.what-is.pb-5
    .container
        .row
            .col-md-4
                img.img-fluid(src="img/general/what-is.jpg" alt="#")
            .col-md-7.offset-md-1
                .jumbotron.p-0
                    h2.section-title What is Cascade50?
                    p.lead
                        | Cascade50 transforms your Sage 50 data into insightful,
                        | vibrant and easy-to-use dashboards.
                    p.lead
                        | Gain an insightful and vibrant view of your business with
                        | an extensive library of intuitive and easy-to-use
                        | dashboards that cover everything from sales to finance
                        | and purchasing.
                    p
                        a.btn.btn-danger.mr-md-3(href='#', role='button') Small & Medium Businesses
                            i.arr-right
                        a.btn.btn-primary(href='#', role='button') Accountancy Practies
                            i.arr-right


