.what-is {
    @include media-breakpoint-down(sm) {
        .img-fluid {
            display: block;
            max-width: 80%;
            margin: auto;
        }
    }
    position: relative;
    z-index: 2;
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
    .btn {
        margin-bottom: 1rem;
    }
}
