//what-is section
section.section.what-is.bg-white
    .container
        .row
            .col-lg-4.col-md-6.mb-5.col-sm-12
                img.img-fluid.mb-5.mb-md-0(src="img/general/what-is.jpg" alt="#")
            .col-lg-7.offset-lg-1.col-md-6.col-sm-12
                .jumbotron.p-0
                    h2.section-title What is Cascade50?
                    p.lead
                        | Cascade50 transforms your Sage 50 data into insightful,
                        | vibrant and easy-to-use dashboards.
                    p.lead
                        | Gain an insightful and vibrant view of your business with
                        | an extensive library of intuitive and easy-to-use
                        | dashboards that cover everything from sales to finance
                        | and purchasing.
                    p
                        a.btn.btn-danger.mr-md-3(href='smes.html', role='button') Small & Medium Businesses
                            i.arr-right
                        a.btn.btn-primary(href='practises.html', role='button') Accountancy Practies
                            i.arr-right


//end of what-is section
