//hero section
section.section.hero
    .container
        .row.align-content-center
            .col-md-7
                .jumbotron.text-white.px-0
                    h1.hero-title.display-4 Vibrant, Insightful & Drillable Dashboards
                    p.lead
                        | Cloud based dashboards for Sage 50. Improved
                        | decision-making in an instant.
                    p
                        a.btn.btn-danger.mr-md-3(href='smes.html', role='button') Small & Medium Businesses
                            i.arr-right
                        a.btn.btn-primary(href='practises.html', role='button') Accountancy Practies
                            i.arr-right
            .col-md-5
                .hero-img
                    img(src="img/general/hero-img.png", alt="#")

//end of hero section
