.hero {
    @include media-breakpoint-down(md) {
        &-title {
            text-align: center;
            font-size: 3rem;
        }
    }
    @include media-breakpoint-down(sm) {
    
    }
    background: transparent;
    background-size: cover;
    width: 100vh;
    @media (min-width: 1200px) {
        &-img {
            min-height: 80vh;
            img {
                position: absolute;
                top: 50%;
                left: 0;
                width: 200%;
                transform: translateY(-50%);
            }
        }
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
    .lead {
        font-size: 1.3rem;
        margin-bottom: 1.875rem;
    }
    .jumbotron-btn-group {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    &-title {
        font-family: "Arimo", sans-serif;
        font-weight: lighter;
        margin-bottom: 1.875rem;
    }
    &-img {
        position: relative;
        width: 100%;
        img {
            position: initial;
            width: 100%;
        }
    }
}
