//hero section
section.section.hero
    .container
        .row.align-content-center.pl-lg-0
            .col-lg-7.col-md-12.pl-lg-0
                .jumbotron.text-white.px-0
                    h1.hero-title.display-4 Vibrant, Insightful & Drill Down Dashboards
                    p.lead
                        | Cloud based dashboards for Sage 50. Improved
                        | decision-making in an instant.
                    .jumbotron-btn-group
                        a.btn.btn-danger.mr-md-3.mb-3(href='smes.html', role='button') Small & Medium Businesses
                            i.arr-right
                        a.btn.btn-primary.mb-3(href='practices.html', role='button') Accountancy Practices
                            i.arr-right
            .col-lg-5.col-md-12
                .hero-img
                    img(src="img/general/hero-img.png", alt="#")

//end of hero section
