section.section.hero
    .container
        .col-md-6
            .jumbotron.text-white.p-0
                h1.display-4 Vibrant, Insightful & Drillable Dashboards
                p.lead
                    | Cloud based dashboards for Sage 50. Improved
                    | decision-making in an instant.
                p
                    a.btn.btn-danger.btn-lg.mr-md-3(href='#', role='button') Small & Medium Businesses
                    a.btn.btn-primary.btn-lg(href='#', role='button') Accountancy Practies


