.hero {
    background: transparent;
    //background: url("../img/general/hero-bg.png") no-repeat center;
    background-size: cover;
    width: 100vh;
    &-title {
        font-family: "Effra-Light", sans-serif;
        margin-bottom: 40px;
    }
    .lead {
        font-size: 1.625rem;
        margin-bottom: 40px;
    }
    &-img {
        position: relative;
        width: 100%;
        min-height: 80vh;
        img {
            position: absolute;
            top: 50%;
            left: 0;
            max-width: 150%;
            transform: translateY(-50%);
        }
    }
}
