.how-works {
    @include media-breakpoint-up(md) {
        .card {
            &-body {
                flex: 1;
                min-height: 13.5rem;
            }
        }
    }
    .card {
        &:hover, &:focus {
            box-shadow: $box-shadow;
        }
    }
}
