//how it works section
section.section.how-works.bg-white
    .container
        .row.mb-5
            .col-12
                h2.section-title.text-center How It Works

            .col-lg-4.col-md-6.mb-5
                .card.text-center
                    .card-body
                        h3.card-title Fast Setup
                        p.card-text A simple 5 minute set-up
                            | to create your account and
                            | connect your Sage 50 data
                            | to Cascade50.
                    .card-footer.p-0
                        img.img-fluid(src="img/howitworks/clock.png", alt="#")
            .col-lg-4.col-md-6.mb-5
                .card.text-center
                    .card-body
                        h3.card-title Play
                        p.card-text Easy, secure and instant
                            | access to an extensive
                            | library of vibrant pre-made
                            | dashboards.
                    .card-footer.p-0
                        img.img-fluid(src="img/howitworks/cubes.png", alt="#")
            .col-lg-4.col-md-6.mb-5
                .card.text-center
                    .card-body
                        h3.card-title Customise
                        p.card-text Request additional dashboards
                            | and filters from our custom
                            | dashboard service to tailor
                            | the reports to your needs.
                    .card-footer.p-0
                        img.img-fluid(src="img/howitworks/desctop.png", alt="#")
        .row.my-md-5
            .col-md-12
                p.text-center
                    a.btn.btn-danger.mr-md-3(href='https://app.cascade.bi/signup/user', role='button') 21 DAY FREE TRIAL
                        i.arr-right
                    a.btn.btn-primary(href='https://pay.gocardless.com/AL00015ERR6CTN', role='button') Buy Now
                        i.arr-right

//end of how it works section
