//hero About section
section.section.hero.history
    .container
        .row
            .col-md-12
                h1.hero-title.display-4.text-center.text-white Where It All Began
                p.text-white.text-center Our team has worked with thousands of SMEs over the years. The one common theme is that they often do not have clear visibility of their business performance.

                p.text-white.text-center Mark Donaldson, a qualified Chartered Certified Accountant has been working in practice and in SMEs since 2001 and wanted to resolve this challenge, meeting the demands of SMEs and accountancy firms.

                p.text-white.text-center After tens of thousands of development hours, the Cascade50 team developed our out of the box dashboard platform which connects to Sage 50cloud and provides SMEs with easy access to their data, increasing awareness of their business metrics.

//end of hero About section
