//features section
section.section.diffs.bg-light-2
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Our Favourite Features
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-warning(src="img/sprites/svg/sitemap.svg", alt="#")
                    .card-body
                        h3.card-title Permissions
                        p.card-text Control which employees can access which dashboards.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-primary(src="img/sprites/svg/lock.svg", alt="#")
                    .card-body
                        h3.card-title Security
                        p.card-text Two factor authentication available, ensuring your data is protected.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-danger(src="img/sprites/svg/cubes.svg", alt="#")
                    .card-body
                        h3.card-title Easy Design
                        p.card-text Designed for your whole team to use without any training.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-success(src="img/sprites/svg/users.svg", alt="#")
                    .card-body
                        h3.card-title Unlimited Users
                        p.card-text Empower your whole team for one simple price.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-pink(src="img/sprites/svg/globe.svg", alt="#")
                    .card-body
                        h3.card-title Accessible
                        p.card-text Instant access to all your data on any device.
            .col-lg-4.col-md-6.mb-4
                .card.text-center
                    .card-header
                        .card-icon
                            img.bg-primary(src="img/sprites/svg/tachometr.svg", alt="#")
                    .card-body
                        h3.card-title Fast & Reliable
                        p.card-text A quality platform built from tens of thousands of development hours.

        p.text-center
            a.btn.btn-danger.mr-md-3(href='https://app.cascade.bi/signup/user', role='button') 21 DAY FREE TRIAL
                i.arr-right
            a.btn.btn-primary(href='https://pay.gocardless.com/AL00015ERR6CTN', role='button') Buy Now
                i.arr-right
//end of features section
