extends ../layouts/default

block variables
	- const title = "Case Studies";

block content
	.wrapper
		//HEADER
		include ../../blocks/modules/header/header
		//end of HEADER
		//CONTENT
		main.main(role="main")
			include ../../blocks/modules/hero-about/hero-about
			include ../../blocks/modules/journey/journey
		//end of CONTENT
		//FOOTER
		include ../../blocks/modules/footer/footer
		// end of FOOTER
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
