section.section.case-hero.bg-light-2
    .container
        .row
            .col-lg-4.col-md-6.col-sm-12
                .jumbotron.px-0
                    img.case-hero-logo(src="img/saxonair/saxonair.png", alt="#")
                    p.lead
                        | Our customisation service enabled
                        | SaxonAir to gain instant insight
                        | over the company's flight
                        | profitability.
                    p
                        a.btn.btn-danger(href='#', role='button') SaxonAir's Website
                            i.arr-right

            .col-lg-8.col-md-6.col-sm-12
                img.img-fluid(src="img/saxonair/saxonair-04.jpg", alt="#")
