.section.case-hero {
    padding: 2rem 0;
    .case-hero-logo {
        max-width: 180px;
        margin-bottom: 1rem;
    }
    .lead {
        font-size: 1.75rem;
    }
    .btn {
        text-transform: capitalize;
    }
}
