.section.case-hero {
    @include media-breakpoint-down(md) {
        .lead {
            text-align: left;
        }
    }
    padding: 2rem 0;
    .case-hero-logo {
        max-width: 180px;
        margin-bottom: 1rem;
    }
    .lead {
        font-size: 1.75rem;
        text-align: left;
    }
    .btn {
        text-transform: capitalize;
    }
}
