section.case-descr.bg-primary
    .container
        .row.py-5
            .col-12
                p.text-center.text-white Cascade50 are exclusive in offering bespoke customisable dashboard reporting
                    | for Sage 50 on top of the program's out of the box functionality.

                p.text-center.text-white This is a service that has endless limitations. What filters and
                    | dashboards would you like at your fingertips?
                p.text-center
                    a.btn.btn-danger(href='#', role='button') Contact Us
                        i.arr-right
