section.section.bg-white
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center How It Works
        .row
            .col-md-8.offset-md-2
                <!-- 16:9 aspect ratio -->
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/m9opGmKECrk?rel=0', frameborder="0", allowfullscreen)

