.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    li + li {
        margin-left: 1rem;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.125rem;
        height: 3.125rem;
        border: 1px solid $lilac-border;
        border-radius: 50%;
        color: $lilac-text;
        background-color: $lilac-dark;
        transition: $transition-base;
        &:hover, &:focus {
            color: $warning;
            border: 1px solid $warning;
            text-decoration: none;
        }
        .fa {
            font-size: 1rem;
        }
    }
}
