ul.socials
    li.socials__item
        a(href="https://www.facebook.com/cascade50/")
            i.fa.fa-facebook
    li.socials__item
        a(href="https://twitter.com/cascadebi")
            i.fa.fa-twitter
    li.socials__item
        a(href="https://www.linkedin.com/company/cascade-bi/")
            i.fa.fa-linkedin
