ul.socials
    li.socials__item
        a(href="#")
            i.fa.fa-facebook
    li.socials__item
        a(href="#")
            i.fa.fa-twitter
    li.socials__item
        a(href="#")
            i.fa.fa-linkedin
