extends layouts/default
include helpers/mixins

block variables
	- const title = "Cascade50"

block content
	.wrapper
		.container
			.row.mb-3
				.col-12
					h1.text-center Cascade 50
			.row
				.col-4 1
				.col-4 2
				.col-4 3

block scripts
	script(src="../js/main.js")
	//script(src="../js/vendor.js")
