//Get In touch form
form.form
   .form-group
       label(for='contactName') Name
       input#contactName.form-control.form-control-lg(type='name', placeholder='Enter your name here')
   .form-group
       label(for='contactEmail') Email
       input#contactEmail.form-control.form-control-lg(type='email', placeholder='Enter your email here')
   .form-group.mb-4
       label(for='contactTextarea') Your Message
       textarea#contactTextarea.form-control.form-control-lg(rows='5', placeholder="Enter your message details here")
   .form-group.text-left
       button.btn.btn-danger(type='submit') Send Message
           i.arr-right
//end of Get In touch form
