.map {
    width: 100%;
    iframe {
        margin-bottom: 2rem;
        width: 100%;
    }
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 1rem;
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            color: $white;
            margin-right: 1rem;
            .fa {
                font-size: 2rem;
            }
        }
        &-descr {
            color: $body-color;
            a {
                color: $body-color;
            }
        }
    }
}
