//map
#map.map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2421.7954293462976!2d1.300548615959213!3d52.62754083600599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e3e93fb1edd9%3A0xb6f75616f694b87f!2sCascade%2050!5e0!3m2!1sru!2sua!4v1567584580580!5m2!1sen!2sen", width='600', height='300', frameborder='0', style='border:0;', allowfullscreen='')

    ul.map-info
        li.map-info-item
            .map-info-icon.bg-pink
             i.fa.fa-map-marker
            .map-info-descr
                | St Faiths House,
                br
                | Mountergate,  Norwich
                br
                | NR1 1PY
        li.map-info-item
            .map-info-icon.bg-lilac
                i.fa.fa-phone
            .map-info-descr
                a(href="tel:03330112882") 03330 112 882

//map
