section.section.case-hero.bg-light-2
    .container
        .row
            .col-lg-5.col-md-6.col-sm-12
                .jumbotron.px-0
                    img.case-hero-logo(src="img/seeds/seeds-logo.png", alt="#")
                    p.lead
                        | From sales to financial and product
                        | analysis, Munchy Seeds have gained
                        | greater insight and visibility across
                        | their entire business.
                    p
                        a.btn.btn-danger(href='#', role='button') Munchy Seeds's Website
                            i.arr-right

            .col-lg-7.col-md-6.col-sm-12
                img.img-fluid(src="img/seeds/seeds-02.jpg", alt="#")
