section.section.case-hero.bg-light-2
    .container
        .row
            .col-lg-5.col-md-6.col-sm-12
                .jumbotron.px-0
                    img.case-hero-logo(src="img/seeds/seeds-logo.png", alt="#")
                    p.lead
                        | From sales to financial and product
                        | analysis, Munchy Seeds have gained
                        | greater insight and visibility across
                        | their entire business.
                    p
                        a.btn.btn-danger(href='#', role='button') Munchy Seeds's Website
                            i.arr-right

            .col-lg-7.col-md-6.col-sm-12
                img.img-fluid(src="img/seeds/seeds-02.jpg", alt="#")
p https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.7399040776495!2d-6.261147484122739!3d53.34791197997939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e84fbdd6bd3%3A0x998692b4f1b691e1!2sUlster+Bank+Chambers%2C+O&#39;Connell+Street+Lower%2C+Dublin+1%2C+Ireland!5e0!3m2!1sen!2sus!4v1462581622087
p 1m2!1s0x48670e84fbdd6bd3%3A0x998692b4f1b691e1!2sUlster+Bank+Chambers%2C+O&#39;Connell+Street+Lower%2C+Dublin+1%2C+Ireland!5e0!
