//features section
section.section.diffs.bg-light-2
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Our Favourite Features
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/tag.svg", alt="#")
                    .card-body
                        h3.card-title White Labelling
                        p.card-text Add your logo and colours and make Cascade50 your own.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/globe-blue.svg", alt="#")
                    .card-body
                        h3.card-title Accessible
                        p.card-text Instant access to your clients' data from across the globe.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/lock-red.svg", alt="#")
                    .card-body
                        h3.card-title Security
                        p.card-text Two factor authentication available, ensuring all data is protected
            .col-md-4.offset-md-2
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/cubes-green.svg", alt="#")
                    .card-body
                        h3.card-title Simple
                        p.card-text No training required with just a 5 minute setup.
            .col-md-4
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/edit-purple.svg", alt="#")
                    .card-body
                        h3.card-title Customisation
                        p.card-text Request dashboards bespoke to your clients' needs.
//end of features section
