section.section.case-hero.bg-light-2
    .container
        .row
            .col-lg-5.col-md-6.col-sm-12
                .jumbotron.px-0
                    img.case-hero-logo(src="img/temp/temp.png", alt="#")
                    p.lead
                        | Cascade50’s reporting assists
                        | Tempcon in the management of
                        | their vast range of products
                        | and suppliers.
                    p
                        a.btn.btn-danger(href='#', role='button') Tempcon's Website
                            i.arr-right

            .col-lg-7.col-md-6.col-sm-12
                img.img-fluid(src="img/temp/temp-01.jpg", alt="#")
