//cases section
section.section.cases.bg-white
    .container
        .row.mb-4
            .col-md-6.mb-5
                .card.text-center(style="background-image: url('img/saxon/saxon-01.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/saxon/saxon-white.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Our customisation service enabled
                            | SaxonAir to gain instant insight over
                            | the company's flight profitability.
                        a.btn.btn-danger(href='saxonair.html', role='button') VIEW CASE STUDY
                            i.arr-right
            .col-md-6.mb-5
                .card.text-center(style="background-image: url('img/temp/temp-01.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/temp/temp-white.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Cascade50’s reporting assists Tempcon
                            | in the management of their vast range
                            | of products and suppliers.
                        a.btn.btn-danger(href='tempcon.html', role='button') VIEW CASE STUDY
                            i.arr-right
            .col-md-6.mb-5
                .card.text-center(style="background-image: url('img/innova/innova-01.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/innova/innova.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Innova Art utilises Cascade50’s insightful
                            | and accessible dashboards to maximise the
                            | efficiency of their sales teams
                            | across the globe.
                        a.btn.btn-danger(href='innova.html', role='button') VIEW CASE STUDY
                            i.arr-right
            .col-md-6.mb-5
                .card.text-center(style="background-image: url('img/seeds/seeds-01.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/seeds/seeds.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | From sales to financial and product analysis,
                            | Munchy Seeds have gained greater
                            | insight and visibility across their
                            | entire business.
                        a.btn.btn-danger(href='seeds.html', role='button') VIEW CASE STUDY
                            i.arr-right

//end of cases section
