//tools section
section.section.tools.bg-white
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Tools To Transform Your Practice
            .col-md-6.col-sm-12.mb-5
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/sitemap.svg", alt="#")
                    .card-body
                        h3.card-title Grow Client Relationships
                        p.card-text Free up more time to focus on building
                            | closer client relationships, ensuring the
                            | client of today is the client for
                            | many years to come.

                        p.card-text Be that trusted adviser that the business
                            | owner wants to work with.

            .col-md-6.col-sm-12.mb-5
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/cost-blue.svg", alt="#")
                    .card-body
                        h3.card-title Boost Advisory Revenues
                        p.card-text React to a changing market where compliance fees are falling and reduce
                            | the time it takes to turn the numbers
                            | into insights and action.

                        p.card-text Add tangible and immediate value to your clients and prospects.

            .col-md-6.offset-md-3.col-sm-12.mb-5
                .card.text-center
                    .card-header
                        .card-icon
                            img(src="img/sprites/svg/sitemap-red.svg", alt="#")
                    .card-body
                        h3.card-title Attract New Clients
                        p.card-text Meet the changing needs of clients. Appeal to businesses who are looking for an
                            | accountant that embraces modern technology.

                        p.card-text Transform data into visionary business advice through visualised reports,
                            | charts and graphs.
        p.text-center
            a.btn.btn-danger(href='#contact', role='button') Contact us
                i.arr-right

//end tools section
