section.section.case-descr.bg-white
    .container
        .row
            .col-lg-4
                h2.case-title Nevelle Bower
                h4.case-subtitle CEO Innova Art Limited
                .w-50.border-top.pt-1.my-3.bg-dark
            .col-lg-8
                p
                    | "Cascade50 is a very informative and intuitive piece of software
                    | that been an invaluable tool for Innova Art. It allows us to quickly
                    | understand, communicate and distribute our financial, sales and
                    | product performance. This is something that we have found that
                    | accounts packages typically struggle with or just cannot do out
                    | of the box if at all."
        hr.my-md-5

        .row
            .col-12
                p
                    | From America to Singapore, Innova Art are utilising the power of Cascade50’s intuitive
                    | dashboards; improving the company’s productivity and efficiency.

                p
                    | As a business, Innova Art is at the forefront, developing new and exciting digital print media
                    | across the world. While traditional manufacturers focus on tweaking the same types of
                    | products, Innova is forward looking and strives to listen to today’s global marketplace.

                p
                    | Communicating and engaging with the company’s global sales teams with the timeliest, most
                    | insightful and accessible data was a logistical challenge for the company.

                p
                    | Geographical and digital barriers prevented Innova Art’s sales teams from accessing
                    | the most optimal data available for their decision making.

                p
                    | In order to solve this issue, Innova Art required a data platform that could provide their
                    | sales teams with timely and accessible data across the globe without the need to
                    | constantly generate time-consuming spreadsheets from Sage 50 or simply
                    | go without this valuable information.

                p
                    | With Cascade50 connected to the Sage 50 data, the company set up its individual
                    | users and permissions and provided dashboard access across Innova Art’s business. The
                    | company’s global sales teams now have the tools to maximise their sales potential.

                p
                    | Each team member has instant access to their exclusive customers’ purchasing decisions
                    | and trends; increasing sales efficiency.

                p
                    | Cascade50 enables Innova Art to instantly spot and target under purchasing clients
                    | across their vast global client range. The platform grants Innova Art more accessible
                    | visibility and insight over their customer relationships across the globe.

                p Most importantly, Cascade50 enables Innova Art to find opportunities to grow the business.



