$price-currency-width : 276px;
$price-currency-height : $price-currency-width;
.price {
    @include media-breakpoint-down(sm) {
        .tab-pane {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &.show {
                display: flex;
            }
        }
        &-card {
            .nav {
                padding: 1rem;
                margin-bottom: 1rem;
            }
            .nav-tabs .nav-link {
                padding: .5rem 1rem;
            }
        }
        &-banknote {
            display: flex;
            width: $price-currency-width * 0.55;
            height: $price-currency-height * 0.55;
            font-size: 2rem;
            margin: 0 auto 2rem;
        }
        &-val {
            max-width: 100%;
            text-align: center;
            height: initial;
            float: none;
            font-size: 60px;
            &-descr {
                display: block;
                text-align: center;
                width: 100%;
                max-width: 100%;
                margin-top: 2rem;
            }
        }
        sup {
            font-size: 40px;
            top: -1em;
        }
        &-card .nav-item + .nav-item {
            margin-left: .25rem;
            margin-bottom: .25rem;
        }
    }
    
    @media (min-width: 1200px) {
        &-banknote {
            width: $price-currency-width;
            height: $price-currency-height;
        }
    }
    &-card {
        width: 100%;
        box-shadow: $box-shadow;
        .nav {
            justify-content: flex-end;
            border: 0;
            padding: 1.5rem;
            margin-bottom: 2rem;
        }
        .nav-tabs {
            .nav-link {
                text-transform: uppercase;
                border: 1px solid $gray-500;
                border-radius: $border-radius;
                padding: .5rem 1.5rem;
                color: $body-color;
                &.active, &:hover, &:focus {
                    color: $white;
                    background: $danger;
                    border: 1px solid $danger;
                }
            }
        }
        .nav-item + .nav-item {
            margin-left: 1rem;
        }
        .tab-content {
            display: flex;
            width: 100%;
            padding: 0;
        }
        .tab-pane {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            &.active {
                display: flex;
                padding: 0 2rem 2rem;
            }
        }
    }
    &-banknote {
        position: relative;
        width: $price-currency-width * 0.75;
        height: $price-currency-height * 0.75;
        overflow: hidden;
        padding: 2rem;
        border-radius: $border-radius * 4;
        background-image: url("../img/sprites/svg/banknote.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 3.25rem;
        font-family: "Arimo", sans-serif;
        text-align: center;
        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-val {
        text-align: right;
        float: right;
        width: 100%;
        max-width: 50%;
        font-size: 140px;
        line-height: 1;
        word-wrap: break-word;
        sup {
            font-size: 55px;
            top: -1em;
        }
        sub {
            font-size: 1.5rem;
        }
        &-descr {
            font-size: 1.5rem;
            line-height: 1;
        }
    }
}
