//trust section
section.section.trust.bg-light
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Don't Just Take Our Word For It......
            .col-md-6.col-sm-12.mb-5
                .card.text-center(style="background-image: url('img/saxon/saxon-03.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/saxon/saxon.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Our customisation service enabled
                            | SaxonAir to gain instant insight over
                            | the company's flight profitability.
                        a.btn.btn-danger(href='saxonair.html', role='button') VIEW CASE STUDY
                                i.arr-right
            .col-md-6.col-sm-12.mb-5
                .card.text-center(style="background-image: url('img/temp/temp-01.jpg')")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/temp/temp.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Cascade50’s reporting assists Tempcon
                            | in the management of their vast range
                            | of products and suppliers.
                        a.btn.btn-danger(href='tempcon.html', role='button') VIEW CASE STUDY
                            i.arr-right

//end of trust section
