//trust section
section.section.trust.bg-light
    .container
        .row.mb-4
            .col-12
                h2.section-title.text-center Don't Just Take Our Word For It......
            .col-md-6
                .card.text-center(style="background-image: url(img/saxonair/saxonair-03.jpg)")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/saxonair/saxonair.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Our customisation service enabled
                            | SaxonAir to gain instant insight over
                            | the company's flight profitability.
                        a.btn.btn-danger(href='#', role='button') VIEW CASE STUDY
                                i.arr-right
            .col-md-6
                .card.text-center(style="background-image: url(img/tempcon/tempcon-01.jpg)")
                    .card-header.p-0
                        .card-logo.m-auto
                            img(src="img/tempcon/tempcon.png")
                    .card-body.my-auto.p-0
                        p.card-text.mb-5
                            | Cascade50’s reporting assists Tempcon
                            | in the management of their vast range
                            | of products and suppliers.
                        a.btn.btn-danger(href='#', role='button') VIEW CASE STUDY
                            i.arr-right

//end of trust section
