.footer {
    width: 100%;
    padding: 2.5rem 0;
    color: $white;
    font-size: 0.875rem;
    line-height: 1.5rem;
    &-nav {
        a {
            color: inherit;
            display: block;
            text-align: center;
            margin-bottom: 0;
            &:hover,
            &:focus {
                cursor: pointer;
                text-decoration: none;
            }
        }
        li {
            margin-bottom: .75rem;
        }
        @include media-breakpoint-up(md) {
            direction: column;
            column-count: 3;
            flex-wrap: wrap;
        }
    }
    &-top {
        padding: 2.5rem 0;
    }
    &-bottom {
        padding: 2.5rem 0 0;
        border-top: 1px solid $lilac-border;
    }
    p {
       
        margin-bottom: 0.75rem;
    }
    .socials {
        margin-top: -1rem;
    }
    @include media-breakpoint-up(lg) {
        &-partners {
            justify-content: flex-end;
            transform: translateY(2rem);
            a {
                display: block;
                margin-bottom: -1rem;
                img {
                    display: block;
                }
            }
        }
    }
    &-partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
        a + a {
            margin-left: 1rem;
        }
    }
    @include media-breakpoint-down(md) {
        .navbar-logo {
            display: block;
            text-align: center;
            margin: 0 auto 1rem;
            max-width: 200px;
        }
    }
    @include media-breakpoint-down(sm) {
        padding: 3.125rem 0;
        text-align: center;
        &-top {
            padding: 0;
            margin-bottom: 1.875rem;
        }
        &-bottom {
            border: 0;
            padding: 0;
        }
        
        .socials {
            margin: 0 auto;
            justify-content: center;
        }
    }
    
}
