footer.footer
    .container
        .row.footer-top
            .col-md-2
                img.navbar-logo.mb-sm-3(src="img/sprites/svg/logo-footer.svg", alt="logo")
            .col-md-6
                ul.footer-nav.list-unstyled.text-center
                    li
                        a(href='#').font-size-1 Sage 50 Dashoards For
                    li
                        a(href='smes.html') Small & Medium Businesses
                    li
                        a(href="practises.html") Accountancy Practices
                    li
                        a(href='studies.html') Case Studies
                    li
                        a(href='#') Our History
                    li
                        a(href='team.html') Meet the Team
                    li
                        a(href='#') Legal
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#')
                            img(src="img/general/teamviewer.png")
            .col-md-4
                ul.list-unstyled
                    li.mb-3
                        p Vibrant, Insightful & drillable cloud based dashboards for Sage 50. Improved decision making in an instant.
                    li.footer-partners
                        a(href="#")
                            img(src="img/general/f50.png", alt="#")
                        a(href="#")
                            img(src="img/general/sage.png", alt="#")
        .row.footer-bottom
            .col-md-3
                p.mb-md-0
                    span.font-weight-bold Complete Analytics Ltd.
                    | ©2019
                    br
                    | St. Faith's House, Mountergate,
                    br
                    | Norwich, NR1 1PYF
            .col-md-3.offset-md-6
                include ../socials/socials
