footer.footer.hero
    //.container
    //    .row
    //        .col-md-2
    //            img.navbar-logo(src="img/sprites/svg/logo-footer.svg")

    .container
        .row.footer-top
            .col-md-2
                img.navbar-logo.mb-sm-3(src="img/sprites/svg/logo-footer.svg", alt="logo")
            .col-md-6
                ul.footer-nav.list-unstyled.text-center
                    li
                        a(href='#').font-size-1 Sage 50 Dashoards For
                    li
                        a(href='#') Small & Medium Businesses
                    li
                        a(href="#") Accountancy Practices
                    li
                        a(href='#') Case Studies
                    li
                        a(href='#') Our History
                    li
                        a(href='#') Meet the Team
                    li
                        a(href='#') Legal
                    li
                        a(href='#') Privacy Policy
                    li
                        a(href='#')
                            img(src="img/general/teamviewer.png")
            .col-md-4
                ul.list-unstyled
                    li.mb-3
                        p Vibrant, Insightful & drillable cloud based dashboards for Sage 50. Improved decision making in an instant.
        .footer-bottom
            p.mb-md-0
                span.font-weight-bold Complete Analytics Ltd.
                | ©2019
                br
                | St. Faith's House, Mountergate,
                br
                | Norwich, NR1 1PYF
            ul.footer-socials.list-unstyled
                li
                    a(href='#')
                        i.fas.fa-rss
                li
                    a(href='#')
                        i.fab.fa-telegram-plane
                li
                    a(href='#')
                        i.fab.fa-bitcoin
                li
                    a(href='#')
                        i.fab.fa-github
                li
                    a(href='#')
                        i.fab.fa-facebook-f
                li
                    a(href='#')
                        i.fab.fa-twitter
                li
                    a(href='#')
                        i.fab.fa-linkedin
                li
                    a(href='#')
                        i.fab.fa-vk
