footer.footer
    .container
        .row.footer-top
            .col-lg-2.col-sm-12
                img.navbar-logo.mb-sm-3(src="img/sprites/svg/logo-white.svg", alt="logo")
            .col-lg-6.col-sm-12.px-0
                ul.footer-nav.list-unstyled.text-center
                    li
                        span.font-size-1 Sage 50 Dashoards For
                    li
                        a(href='smes.html') Small & Medium Businesses
                    li
                        a(href="practices.html") Accountancy Practices
                    li
                        a(href='studies.html') Case Studies
                    li
                        a(href='our-history.html') Our History
                    li
                        a(href='meet-the-board.html') Meet the Team
                    li
                        a(href='legal.html') Legal
                    li
                        a(href='privacy-policy.html') Privacy Policy
                    li
                        a(href='https://www.linkedin.com/company/cascade-bi/')
                            img(src="img/general/teamviewer.png")
            .col-lg-4.col-sm-12
                ul.list-unstyled
                    li.mb-3
                        p Vibrant, Insightful & drillable cloud based dashboards for Sage 50. Improved decision making in an instant.
                    li.footer-partners
                        a(href="https://www.edp24.co.uk/business/future50")
                            img(src="img/general/f50.png", alt="#")
                        a(href="https://www.sage.com/en-gb/products/sage-50cloud/")
                            img(src="img/general/sage.png", alt="#")
        .row.footer-bottom
            .col-md-3
                p.mb-md-0
                    span.font-weight-bold Complete Analytics Ltd.
                        script.
                          new Date().getFullYear() > document.write("&copy;" + new Date().getFullYear());
                    br
                    | St. Faith's House, Mountergate,
                    br
                    | Norwich, NR1 1PYF
            .col-md-3.offset-md-6
                include ../socials/socials
