.case-descr {
    font-family: "Arimo", sans-serif;
    .case-title {
        font-size: 3rem;
    }
    .case-subtitle {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.5rem;
    }
    .btn {
        font-family: "Arimo", sans-serif;
        font-size: 0.875rem;
    }
}
