section.section.case-descr.bg-white
    .container
        .row
            .col-md-4
                h2.case-title William Morton,
                h4.case-subtitle SaxonAir Finance Director
            .col-md-8
                p "Cascade50's bespoke customisation service has enabled us to
                    | get real instant insight into our dependant and flight profitability.
                    | It is an excellent tool that has saved us countless hours!
                p Mark was very helpful and understood our business model straight
                    | away. As a result we have   product that fits our unique business
                    | needs. I cannot recommend using Cascade50 highly enough!"
        hr.my-md-5

        .row
            .col-12
                p SaxonAir and Cascade50 collaborated to grow the private aviator's data reporting infrastructure.

                p SaxonAir is a flexible, convenient and cost effective private air travel service. Hundreds of people
                    | travel through SaxonAir facilities every week using helicopters for work and chartering aircraft
                    | to destinations around the world.

                p In addition to Cascade50’s Sage 50 out of the box reporting capabilities, the company
                    | requested a program bespoke to the company’s business model.

                p Specifically, SaxonAir requested a platform that could instantly organise dashboard reports by
                    | departments such as helicopters and fixed wing planes as well as individual flight routes.

                p Before implementing Cascade50, reporting directly on the company's complex Sage 50
                    | data through manual Excel export and pivot tables was a time consuming process.

                p With in-house developers and a dedicated support department, the Cascade50 team created a
                    | custom easy-to-use bespoke filtered dashboard suite for SaxonAir's finance data. These
                    | customisations were developed on top of Cascade50's original filterable dashboards available
                    | out of the box.

                p As a result of the customisations and Cascade50's out of the box compatibility with Sage 50,
                    | SaxonAir have reduced their reliance on inefficient and complex spreadsheets to report on
                    | flight profitability.

                p Members of the staff and senior management team at SaxonAir now have instant access to vibrant
                    | and easy-to-use data without the need for the finance team to constantly generate and update
                    | spreadsheets.

                p Since using Cascade50, SaxonAir has saved hours of updating and extracting information from
                    | Sage 50 improving their efficiency and insight in the business.


