section.section.case-descr.bg-white
    .container
        .row
            .col-lg-4
                h2.case-title Jim Copeland,
                h4.case-subtitle Tempcon Managing Director
                .w-50.border-top.pt-1.my-3.bg-dark
            .col-lg-8
                p "It is no exaggeration to say that Cascade50 has transformed how
                    | we view our management information. Prior to implementing
                    | Cascade50, we were looking at alternatives to Sage and now
                    | there's simply no need. Cascade50 provides an incredible insight
                    | into customer, product and supplier performance."

                p "Since adopting the platform, we have been able to refocus our
                    | efforts on product ranges that are more profitable and growing
                    | whilst also identifying trends and patterns that we didn't know
                    | existed before. I can't recommend it highly enough."
        hr.my-md-5

        .row
            .col-12
                p Tempcon are an instrumentation and sensor manufacturer, distributor and seller which has
                    | been working with Cascade50 to streamline their Sage 50 data.

                p The company offers a catalogue of technical products as well as specialists with the skills
                    | and knowledge to integrate the technologies and systems.

                p From Thermocouples to Platinum Resistance and Weather Stations to Process
                    | Controllers, the scope and variety of the products and suppliers is a
                    | logistical challenge for the company.

                p Analysing and evaluating Tempcon’s thousands of different products and suppliers
                    | through Sage 50 was time-consuming and inefficient process.

                p To tackle this challenge, Tempcon required a data reporting system for their vast
                    | product and supplier range that was an efficient and instant platform.

                p With Cascade50 installed and connected to their Sage 50 data in under 5 minutes,
                    | Tempcon now have instant insight into the finances, credit control and sales
                    | performance of all of their vast numbers of products.

                p Cascade50 allows the company to group together ranges of products and instantly
                    | analyse their individual and group sales performances.

                p Using Cascade50’s purchases, sales and customer dashboards daily, Tempcon have streamlined
                    | their organisation with greater visibility and insight over every purchase and supplier relationship.

                p Cascade50 also assists the company’s sales teams to instantly spot trends and find
                    | opportunities to grow the business. Having up to date information
                    | about their customers and buying behaviour, Tempcon are fully informed through Cascade50.

                p Tempcon now have instant access to the data anytime, anywhere across their entire
                    | business for only £45 a month: from the sales team, to purchasing and
                    | finance, all for just the price of a mobile phone contract.

