.wrapper .btn {
    text-transform: uppercase;
    word-wrap: break-word;
    font-size: .925rem;
    i {
        display: inline-block;
        border: solid $white;
        border-width: 0 2px 2px 0;
        padding: 4px;
        margin-left: .5rem;
    }
    
    .arr-right {
        transform: rotate(-45deg);
    }
    
    .arr-left {
        transform: rotate(135deg);
    }
    
    .arr-up {
        transform: rotate(-135deg);
    }
    
    .arr-down {
        transform: rotate(45deg);
    }
}
