@mixin fface($path, $family, $type: "", $weight: 400, $svg: "", $style: normal) {
    @font-face {
        font-family: $family;
        @if $svg == "" {
            // with OTF without SVG and EOT
            //src: url("#{$path}#{$type}.otf") format("opentype"), url("#{$path}#{$type}.woff2") format("woff2"), url("#{$path}#{$type}.woff") format("woff"), url("#{$path}#{$type}.ttf") format("truetype");
            src: url("#{$path}#{$type}.woff2") format("woff2"), url("#{$path}#{$type}.woff") format("woff"), url("#{$path}#{$type}.ttf") format("truetype");
        }
        @else {
            // traditional src inclusions
            src: url("#{$path}#{$type}.eot");
            src: url("#{$path}#{$type}.eot?#iefix") format("embedded-opentype"), url("#{$path}#{$type}.woff2") format("woff2"), url("#{$path}#{$type}.woff") format("woff"), url("#{$path}#{$type}.ttf") format("truetype"), url("#{$path}#{$type}.svg##{$svg}") format("svg");
        }
        font-weight: $weight;
        font-style: $style;
    }
}
// ========================================================importing
//$dir: "../../fonts/";
$dir: "../fonts/Effra/";

$effra: "Effra";
// adding specific types of font-weights
@include fface("#{$dir}#{$effra}", $effra, "-Light", 300);
@include fface("#{$dir}#{$effra}", $effra, "", 400);
@include fface("#{$dir}#{$effra}", $effra, "-Medium", 500);
@include fface("#{$dir}#{$effra}", $effra, "-Bold", 700);
@include fface("#{$dir}#{$effra}", $effra, "-Heavy", 900);


